@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .app__footer {
        @apply min-h-[80px]
            flex
            w-full
            justify-center
            bg-white
            shadow-xl
            shadow-black;
    }
    
    .app__footer .container {
        @apply flex
            w-full
            items-center;
    }
    
    .app__footer__copyright {
        @apply text-base
            text-gray-400;
    }
    
    .app__footer__nav-menu {
        @apply ml-auto;
    }
}
