@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* border: 1px solid red !important; */
}

:root,
body {
    @apply flex
        h-full
        w-full
        flex-col
        items-center
        overflow-y-auto;
}

@layer components {
    .container {
        @apply w-full
          !max-w-8xl
          px-6
          py-4;
    }

    .link[href] {
        @apply text-blue-600;
    }

    .link[href]:hover {
        @apply underline;
    }
}

@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;
        scrollbar-color: rgba(209, 213, 219, 1) transparent;
    }

    .scrollbar-thin::-webkit-scrollbar {
        @apply h-1
            w-1
            bg-transparent;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        @apply rounded-full 
            bg-gray-300/30;
    }
}
