@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.option-component {
		@apply relative
            flex
            w-full
            cursor-pointer
            items-center
            border
            border-[#E5E5E5]
            bg-white
            px-4
            py-3
            text-base;
	}

	.option-component:hover {
		@apply bg-gray-50;
	}

	.option-component__content {
		@apply w-full;
	}

	.option-component__selected-icon {
		@apply hidden
            w-5
            shrink-0;
	}

	.option-component__selected-icon--selected {
		@apply inline;
	}
}
