@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .app__header {
        @apply bg-white
            sticky
            top-0
            flex
            w-full
            flex-col
            items-center
            justify-center
            z-50;
    }
    
    .app__header .container {
        @apply flex
            w-full
            items-center
            py-4;
    }
    
    .app__header .container h1 {
        @apply text-xl
            font-semibold
            text-primary-text;
    }
    
    .app__header__brand {
        @apply ml-auto;
    }
}
