@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .app__footer__nav-menu {
        @apply flex;
    }
    
    .app__footer__nav-menu__list {
        @apply flex
            list-none;
    }
    
    .app__footer__nav-menu__list > li > a{
        @apply mx-2 text-base
            no-underline
            text-gray-400
            hover:underline;
    }
}