@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .app__content {
        @apply grid
            grow
            grid-cols-12
            gap-x-6
            px-6
            py-3;
    }

    .app__content__main {
        @apply col-span-9 
            h-full
            w-full
            overflow-y-auto;
    }
}
